* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}


.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.answers {
  display: flex;
  flex-direction: column;
}



.word-guess {
  width: 55vw;
  height: 400px;
}

.results {
  width: 30vw;
  height: 400px;
}


.word-blanks {
  line-height: 360px;
}

.timer {
  background: #f0f0f0;
  color: #000000;

}

.timer-text {
  padding: 55px;
}

@media screen and (max-width: 393px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 392px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;

  }

  .timer {
    height: 200px;
  }
}

#firstPage {
  width: 55vw;
  text-align: center;
  position: relative;
}

#firstPageParagraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  flex-grow: 0;
}

.high-score-result {
  background-color: #d9d3e9;
  list-style-type: none;
  display: flex;
  font-size: 18px;
}

.highScoreResults {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.goBack-button {
  background-color: #bd60e7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px
}

.goBack-button:hover {
  cursor: pointer
}

.clearHighScores-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px;
}

.clearHighScores-button:hover {
  cursor: pointer
}

.start-button {
  background-color: #351c75;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
}

#codingQuizChallenge {
  font-size: 32px;
}

#viewHighScoresButton {
  border: none;
  color: #c169e9;
}

.question-1-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 8px;
  display: flex;
  width: 25%;
  font-size: 16px;

}

.question-2-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 8px;
  display: flex;
  width: 35%;
  font-size: 16px;

}

.question-3-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 8px;
  display: flex;
  width: 40%;
  font-size: 16px;

}

.question-4-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 8px;
  display: flex;
  width: 30%;
  font-size: 16px;
}

.question-5-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 8px;
  display: flex;
  width: 30%;
  font-size: 16px;
}

.wrong {
  color: #979797;
  font-size: 18px;
  border-top: 1px solid rgb(217, 217, 217);
  padding: 6px;
}

.right {
  color: #979797;
  font-size: 18px;
  border-top: 1px solid rgb(217, 217, 217);
  padding: 6px;
}

.submit-button {
  background-color: #351c75;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px;
}

#initialsInput {
  height: 30px;
}

.question {
  width: 500px;
}