* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
}


.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 55px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.answers {
  display:flex;
  flex-direction:column;
}



.word-guess {
  width: 55vw;
  height: 400px;
}

.results {
  width: 30vw;
  height: 400px;
}


.word-blanks {
  line-height: 360px;
}

/* .large-font {
font-size: 3.5em;
  text-align:center;
} */

.timer {
  
  background: #f0f0f0;
  color: #000000;
  
}

.timer-text {
  padding: 55px;
}

@media screen and (max-width: 393px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .word-guess,
  .results {
    width: 90vw;
  }

  section {
    background-color: white;
    margin: 20px auto;
    width: 92vw;
  }
}

@media screen and (max-width: 392px) {
  .large-font {
    font-size: 2em;
  }

  .reset-button {
    font-size: 12px;
    width: 20ox;
    
  }

  .timer {
    height: 200px;
  }
}

#firstPage {
  width: 55vw;
  text-align: center;
  position: relative;
}

#firstPageParagraph{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  flex-grow: 0;
}